.notFound {
    text-align: center;
    padding: 2rem;
    border-radius: 5px;

    h2 {
        color: #d9534f;
    }

    a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
            color: #0056b3;
        }
    }
}